/* --------------------FONT IMPORTS-------------------- */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");
/* font-family: 'Roboto', sans-serif; */

/* ----------------------CSS RESET--------------------- */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* -------------------GLOBAL STYLING------------------- */

html {
  /* 1rem = 10px */
  font-size: 62.5%;
  font-family: "Roboto", sans-serif;
}

body {
  font-size: 1.6rem;
}

.main-container {
  width: 80%;
  max-width: 1200px;
  margin: 0 auto;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: inherit;
}

/* ---------------------TYPOGRAPHY--------------------- */
