/* ----------------------VARIABLES--------------------- */

$primary-color: #2196f3;
$primary-color-dark: #1976d2;
$primary-color-light: #bbdefb;
$primary-text-color: #212121;
$secondary-text-color: #757575;
$accent-color: #448aff;
$divider-color: #bdbdbd;
