.watch {
  height: 100vh;
  width: 100vw;
  position: relative;
  background-color: black;

  &__backIcon-container {
    position: absolute;
    top: 4rem;
    left: 4rem;
    z-index: 999;
  }

  &__back-icon {
    color: white;
    cursor: pointer;
    font-size: 5rem !important;
  }

  &__video {
    height: 100%;
    width: 100%;
    object-fit: contain;
  }
}
